<div class="border border-primary bg-info-subtle p-3 m-2">
    <h1>Welcome to PracticeBlock</h1>
    <!--  Types of Display Data  in Angular -->
     <div class="">
     <!-- String Interpolation "{{}}" -String interpolation used to show dynamic dat insdie the view -->
        {{ message }}
     <!-- Property Binding "[]"-->
     <!-- <img src="{{ imgUrl }}" alt="" width="10%" > -->
        <img [src] ="imgUrl" alt="" width="10%">
     <!-- Class Binding -->
     <p [class.text-red] = "bool">Class Binding Demo</p>
     <!-- Style Binding you need to learn HTML DOM style object -->
     <h1 [style.color] = "bool? 'red' : 'blue' "> Style Binding </h1>
     <!-- Event Binding - Instead adding Onclick event all js thing we can easly bind it with ()  -->
     <button (click)="buttonClick()" class="btn btn-outline-primary btn-lg btn-block"> Click Me to Light the text RED</button>
     <!-- Event Filtering adding the specific event -->
     <div class="m-3 ">
        <label for="basicInput" class="form-label ">Enter the List of Names in below TEXT field : </label>
        <input type="text" (keyup.enter) = "onKeyup(username.value,username)" #username class="form-control" id="basicInput" placeholder="Enter text">
     </div>
     <!-- Template Binding - (keyup.enter) = "onKeyup(username.value,username)" #username -->
     <div *ngFor="let user of usernames; let i = index" class="alert alert-info d-flex justify-content-between align-items-center">
        {{ user }}
        <button class="btn btn-danger btn-sm" (click)="deleteUsername(i)">Delete</button>

      </div>
        <!-- Two way data binding 
      
         One-Way sdata Binding = Can only bind data component to view 
         -  String Interpolation - {{title}}
         -  Property Binding - [src]
         -  Class Binding - [Class.text-red]
         -  Style Binding - [style.backgroundColor]

         Two-way Binding - [(ngModel)]
      
      
      -->
      <div class="border row m-3 p-1 border-dark">
         <div class="col-6 border border-dark">
            <h1> Post Form</h1>
            <input type="text" placeholder="Post Title" class="form-control m-1 p-1" [(ngModel)]="postTitle"> 
            <textarea rows="3" placeholder="Post Details" class="form-control m-1 p-1"  [(ngModel)]="postDetails"></textarea>
            <input type="text" placeholder="Post a IMG url" class="form-control m-1 p-1" [(ngModel)]="imageURL" > 
            <input type="text" placeholder="Post Url" class="form-control m-1 p-1"  [(ngModel)]="postURL" > 
            <input type="checkbox" [(ngModel)]="addBackground"> Add Background
         </div>
         <div class="col-6 border-dark border">
            <h1>View Result</h1>
            <h1 style="color: red;"><span [class.add-background]="addBackground">{{postTitle}}</span></h1>
            <p> {{postDetails}}</p>
            <img [src]="imageURL" alt="" width="50%">
            <a [href]="postURL" target="_blank" [style.display]=" postURL ? 'block' : 'none'"> More Details</a>
         </div>
      </div>
      <hr>
      <!-- NgFor Directive
               -we use ngfor diretive to render an array inside the View
               - Ngfor Directive is a structural Directive.
               - with Ngfor Directive we can Manipulate the DOM
         
               ngStyle and ngClass 
                  - ngStyle Directive is used to add styles to an element
                  - ngClass Directive is used to add classes to an element
               
               Structural Directive Vs Attribute Directive
               - Structural Directive - Manipulate the DOM , With the Strucutral Directive we can maniplate the DOM(Document Object Model) by adding and removing HTML Elements to the DOM
                - *ngif
                - *ngfor
                - *ngswitch
               - Attribute Directive - Manipulate the properties of an element , With the Attribute Diretive we an only change the Apperance of the DOM 
                - ngStyle
                - ngClass
            -->
      <div class="row">
         <div class="col-2">
            <p>Fetching Using NgFor Directive</p>
            <ul>
               <li *ngFor="let post of postArray"> {{ post }}</li>
            </ul>
         </div>
         <div class="col-5">
            <p>Fetching Object Array Using NgFor Directive</p>
            <div class="" *ngIf="objArray.length > 0 ; else noData">
               <ul>
                  <li *ngFor="let post of objArray"> {{ post | json }}</li>
               </ul>
            </div>
            <ng-template #noData>
               <div class=""  >
                  <p style="color: red;">There is no Data to fetch...</p>
               </div>
            </ng-template>
            
         </div>
         <div class="col-5">
            <p>Fetching Object Array Using NgFor Directive</p>
            <button (click)="addNew()" class="btn btn-success"> Add New Data</button>
            <ul>
               <li *ngFor="let post of objArray; let i = index"> {{ post.id }} : {{post.postName }}
               <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></li>
            </ul>
         </div>
    
      </div>
      <hr>
      <div class="row">
         <div class="col-6">
            <h1>NgSwitch Cases</h1>
      <div class="">
         <button (click)="onClickBtn('green')" class="btn btn-success btn-sm m-1">Green</button>
         <button (click)="onClickBtn('red')" class="btn btn-danger btn-sm m-1">Red</button>
         <button (click)="onClickBtn('black')" class="btn btn-dark btn-sm m-1">Black</button>
      </div>
         <div class="m-1 p-1" [ngSwitch] ="colorButton">
            <div *ngSwitchCase="'green'">GREEN</div>
            <div *ngSwitchCase="'red'">RED</div>
            <div *ngSwitchCase="'black'">BLACK</div>
            <div *ngSwitchDefault>Not Selected Any </div>
         </div>
      </div>
      </div>
      <div class=""
      [ngStyle]="{
         color: bool ? 'red' : 'blue',
         textTransform: bool ? 'uppercase' :  'lowercase',
      }"
      >
         This is regrding NgStyle Directive(you can also click button on top for changes to reflect)
      </div>
      <hr>
      <div class="border row m-3 p-1 border-dark">
         <div class="col-12 border border-dark">
            <h1> User Details Form</h1>
            <input type="text" placeholder="User Name" class="form-control m-1 p-1" [(ngModel)]="userName"> 
            <input type="email" placeholder="User E-Mail Address" class="form-control m-1 p-1"  [(ngModel)]="userEmail">
            <textarea rows="3" placeholder="Address details" class="form-control m-1 p-1"  [(ngModel)]="userAddress"></textarea> 
            <button class="btn btn-success  m-1 p-2" (click)="onSave()">Save Data</button>
         </div>
         <div class="col-12 border-dark border">
            <h1>Saved Details</h1>
            <div class="table-responsive" *ngIf="userArray.length > 0; else noData">
               <table class="table table-striped table-hover">
                  <thead>
                     <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let user of userArray; let index = index">
                        <td>{{ index + 1 }}</td> 
                        <td>{{ user.userName }}</td>
                        <td>{{ user.userEmail }}</td>
                        <td>{{ user.userAddress }}</td>
                        <td>
                           <button class="btn btn-primary btn-sm" >Edit</button>
                           <button class="btn btn-danger btn-sm" (click)="onClickDelete(index)">Delete</button>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <!-- Angular - PIPE
       Pipes are used to trasforming data into a partocular format when we only need that data transformed 'in' a template. or the HTML View
         - Uppercase Pipe
         - Lowercase Pipe
         - Currency Pipe
         - Date Pipe
         - Json Pipe
         - Async Pipe
         - Slice Pipe
         - Percent Pipe
         - Decimal / Number Pipe
      -->
    </div>
</div>
