<div class="border border-primary bg-info-subtle p-3 m-2">
    <h1>Welcome to PracticeBlock</h1>
    <!--  Types of Display Data  in Angular -->
     <div class="">
     <!-- String Interpolation "{{}}" -String interpolation used to show dynamic dat insdie the view -->
        {{ message }}
     <!-- Property Binding "[]"-->
     <!-- <img src="{{ imgUrl }}" alt="" width="10%" > -->
        <img [src] ="imgUrl" alt="" width="10%">
     <!-- Class Binding -->
     <p [class.text-red] = "bool">Class Binding Demo</p>
     <!-- Style Binding you need to learn HTML DOM style object -->
     <h1 [style.color] = "bool? 'red' : 'blue' "> Style Binding </h1>
     <!-- Event Binding - Instead adding Onclick event all js thing we can easly bind it with ()  -->
     <button (click)="buttonClick()" class="btn btn-outline-primary btn-lg btn-block"> Click Me to Light the text RED</button>
     <!-- Event Filtering adding the specific event -->
     <div class="m-3 ">
        <label for="basicInput" class="form-label ">Enter the List of Names in below TEXT field : </label>
        <input type="text" (keyup.enter) = "onKeyup(username.value,username)" #username class="form-control" id="basicInput" placeholder="Enter text">
     </div>
     <!-- Template Binding - (keyup.enter) = "onKeyup(username.value,username)" #username -->
     <div *ngFor="let user of usernames; let i = index" class="alert alert-info d-flex justify-content-between align-items-center">
        {{ user }}
        <button class="btn btn-danger btn-sm" (click)="deleteUsername(i)">Delete</button>

      </div>
        <!-- Two way data binding 
      
         One-Way sdata Binding = Can only bind data component to view 
         -  String Interpolation - {{title}}
         -  Property Binding - [src]
         -  Class Binding - [Class.text-red]
         -  Style Binding - [style.backgroundColor]

         Two-way Binding - [(ngModel)]
      
      
      -->
      <div class="border row m-3 p-1 border-dark">
         <div class="col-6 border border-dark">
            <h1> Post Form</h1>
            <input type="text" placeholder="Post Title" class="form-control m-1 p-1" [(ngModel)]="postTitle"> 
            <textarea rows="3" placeholder="Post Details" class="form-control m-1 p-1"  [(ngModel)]="postDetails"></textarea>
            <input type="text" placeholder="Post a IMG url" class="form-control m-1 p-1" [(ngModel)]="imageURL" > 
            <input type="text" placeholder="Post Url" class="form-control m-1 p-1"  [(ngModel)]="postURL" > 
            <input type="checkbox" [(ngModel)]="addBackground"> Add Background
         </div>
         <div class="col-6 border-dark border">
            <h1>View Result</h1>
            <h1 style="color: red;"><span [class.add-background]="addBackground">{{postTitle}}</span></h1>
            <p> {{postDetails}}</p>
            <img [src]="imageURL" alt="" width="50%">
            <a [href]="postURL" target="_blank" [style.display]=" postURL ? 'block' : 'none'"> More Details</a>
         </div>
      </div>
      <hr>
      <!-- NgFor Directive
               -we use ngfor diretive to render an array inside the View
               - Ngfor Directive is a structural Directive.
               - with Ngfor Directive we can Manipulate the DOM
         -->
      <div class="row">
         <div class="col-2">
            <p>Fetching Using NgFor Directive</p>
            <ul>
               <li *ngFor="let post of postArray"> {{ post }}</li>
            </ul>
         </div>
         <div class="col-5">
            <p>Fetching Object Array Using NgFor Directive</p>
            <div class="" *ngIf="objArray.length > 0 ; else noData">
               <ul>
                  <li *ngFor="let post of objArray"> {{ post | json }}</li>
               </ul>
            </div>
            <ng-template #noData>
               <div class=""  >
                  <p style="color: red;">There is no Data to fetch...</p>
               </div>
            </ng-template>
            
         </div>
         <div class="col-5">
            <p>Fetching Object Array Using NgFor Directive</p>
            <button (click)="addNew()" class="btn btn-success"> Add New Data</button>
            <ul>
               <li *ngFor="let post of objArray; let i = index"> {{ post.id }} : {{post.postName }}
               <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></li>
            </ul>
         </div>
         
         
         
      </div>
    </div>
</div>
